@import "tailwindcss";

.line-background {
  width: 100%;
  height: auto;
  background-image: repeating-linear-gradient(
    to right,
    rgb(243, 238, 238) 0,
    rgb(239, 237, 237) 1px,
    transparent 1px,
    transparent 20%
  );
}
 
 html, body {
  overflow-x: hidden;
} 